.MuiSlider-thumb {
  transition: left 1s;
}

/* This is needed. Without it drag and drop with a mouse looks very weird */
.MuiSlider-thumb.MuiSlider-active {
  transition: left 0s;
}

/* Animating track with CSS3 as well */
.MuiSlider-track {
  transition: width 1s;
}

.PrivateValueLabel-circle-27{
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(-45deg) translate(19px, -53px);
}	
.PrivateValueLabel-label-28{
  text-align: center;
}
